<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

 <bean id="stu" class="com.collection.Student">
 <property name="rollno" value="101"></property>
 <property name="name" value="Yug"></property>
 <property name="friends" >
 <list>
   <value>Sonu</value>
   <value>Monu</value>
   <value>Nikki</value>
   <value>Nikunj</value>
   <value>Mihir</value>
   <value>Rudra</value>
   
 
 
 </list>
 </property>
 
 <property name="mails">
 
 <set>
 <value>ABC@gmail.com</value>
 <value>PQR@gmail.com</value>
 <value>MNO@gmail.com</value>
 <value>STU@gmail.com</value>
 <value>XYZ@gmail.com</value>
 
 </set>
 </property>
 <property name="courses">
 <map>
 
 <entry key="Core Java" value="14000"></entry>
 <entry key="Core Python" value="10000"></entry>
 <entry key="React" value="15000"></entry>
 <entry key="Devops" value="17000"></entry>
 <entry key="Testing" value="20000"></entry>
 
 
 </map>
 </property>
 
 </bean>
      
</beans>
